@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes floating {

    0% {
        transform: translate(0, 0) scale(1);
    }

    25% {
        transform: translate(120px, -80px) scale(1.2);
    }

    50% {
        transform: translate(-100px, 90px) scale(0.8);
    }

    75% {
        transform: translate(80px, 150px) scale(1.15);
    }

    100% {
        transform: translate(0, 0) scale(1);
    }

}
